<h3 style="text-align: center;">acknowledgements:</h3>
<div class="well">
  <div class="row">
    <div class="text-center col-xs-12">
      <br /><p>Rhyming-dictionary functionality is generously provided by the <a href="http://rhymebrain.com" target="_blank"><b>RhymeBrain.com</b></a> API.</p>
    </div>
  </div>
</div>