<!-- MAIN navigation MENU -->
  <nav role="navigation">
    <div id="menuToggle">
      <!-- fake / hidden checkbox used as click reciever for :checked selector -->
      <input type="checkbox" />
      <!-- hamburger spans -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="#">HOME</a></li>
        <li><a href="#">my ANTHOLOGY</a></li>
        <!-- poetical forms -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" id="poetical_forms_submenuTITLE"><a class="accordion-toggle" data-toggle="collapse" data-parent="#poetical_forms_submenu" href="#poetical_forms_submenu">poetical forms</a></h4>
          </div>
          <div id="poetical_forms_submenu" class="panel-collapse collapse">
            <div class="panel-body">
              <ul id="poetical_forms_submenuLIST">
                <li><a href="#">haiku &#20467;&#21477;</a></li>
                <li><a href="#">limerick</a></li>
                <li><a href="#">Shakespearean sonnet</a></li>
              </ul>
            </div>
          </div>
        </div>
        <li><a href="#">about “Poementor”</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <!-- navigation BREADCRUMBS -->
    <div class="row">
      <div class="col-xs-11">
        <div class="btn-group btn-breadcrumb">
          <a href="#" class="btn btn-default"><span style="color: #FFFFFF;">____</span></a>
          <a href="#" class="btn btn-default">HOME</a>
        </div>
      </div>
      <a href="#" class="col-xs-1" role="button" aria-pressed="false">&#10068;</a>
    </div>
    </div>