<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %> 
  </head>
<body>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- MAIN navigation MENU -->
  <nav role="navigation">
    <div id="menuToggle">
      <!-- fake / hidden checkbox used as click reciever for :checked selector -->
      <input type="checkbox" />
      <!-- hamburger spans -->
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/anthology">my ANTHOLOGY</a></li>
        <!-- poetical forms -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" id="poetical_forms_submenuTITLE"><a class="accordion-toggle" data-toggle="collapse" data-parent="#poetical_forms_submenu" href="#poetical_forms_submenu">poetical forms</a></h4>
          </div>
          <div id="poetical_forms_submenu" class="panel-collapse collapse">
            <div class="panel-body">
              <ul id="poetical_forms_submenuLIST">
                <li><a href="/haiku">haiku &#20467;&#21477;</a></li>
                <li><a href="/limerick">limerick</a></li>
                <li><a href="/shakespearean">Shakespearean sonnet</a></li>
              </ul>
            </div>
          </div>
        </div>
        <li><a href="/learnMetricalFeet">metrical “feet”</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <!-- navigation BREADCRUMBS -->
    <div class="row">
      <div class="col-xs-11">
        <div class="btn-group btn-breadcrumb">
          <a href="#" class="btn btn-default"><span style="color: #FFFFFF;">____</span></a>
          <a href="/" class="btn btn-default"><span>HOME</span></a>
          <a href="/aboutPoementor" class="btn btn-default"><span>about “Poementor”</span></a>
        </div>
      </div>
      <a href="/help" class="col-xs-1" role="button" aria-pressed="false">&#10068;</a>
    </div>
    <a href="/" id="logo_link"><img src="assets/images/PP_logo-sketch.png" alt="Poementor logo" height="42" width="42" /></a>
  </div>
<!-- ABOUT “Poementor” Ø₪₪₪₪§╣ΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞΞ> -->
<div class="container-fluid">
  <h1 class="text-center" id="Poementor_about_header">about “Poementor”</h1>
    <!-- about Poementor -->
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <h2 class="text-center">Why “Poementor”?</h2>
          <p>“Poementor” is a “full-stack” web-application for aspiring poets and lyricists that streamlines composing, editing, annotating, storing, and sharing all sorts of verse &mdash; as well as providing dynamic templating, modeling, and tutorial functionalities that conveniently aid writers in more easily conforming to various traditional poetical forms, metrical prosody structures, rhyme-schemes, etc.</p><br />
          <p>“Mentor” (Μέντωρ) is a term most prominently derived from a character in the ancient Greek epic poem “Odyssey” (Ὀδύσσεια), attributed to the poet Homer. Odysseus, (“Ulysses” is the Latin version of the name) was the legendary king of Ithaca. When he left to fight in the Trojan War, he entrusted the care of his household to Mentor, who served as a teacher of Odysseus’ son, Telemachus. The epic poem “the Odyssey” recounts Odysseus’ ten years of wandering as he tries to return home after the war...</p><br />
          <p>Thus, in popular mythologies, a “mentor” figure typically guides a hero, gives advice, and provides information. A mentor encourages a hero to take a leap of faith and explore the unknown, even if that may not seem to be in the hero’s best interest. A mentor will often test a hero to prepare him or her for the “special world” and an epic journey beyond the hero’s comfort-zone.  Ultimately, the Mentor is the person who pushes a Hero over the threshold of adventure.</p><br />
          <p>In Greek Mythology, Mentor was a friend to Odysseus. Athena (goddess of wisdom and military strategy) even took the guise of Mentor at one point to help Odysseus’s son Telemachus fight off his mom’s suitors.</p><br />
          <p>Morpheus, Gandalf and Obi-Wan Kenobi are classic “mentors” in more modern mythologies.</p>
          <a href="/poemSelector" class="text-center col-xs-12 col-md-6 col-md-offset-3">&#9112;<span class="badge">Want to write a poem?</span>&#128395;</a>
        </div>
      </div>
    </div>
    <!-- acknowledgements -->
    <footer>
      <h3 class="text-center">acknowledgements:</h3>
      <div class="well">
        <div class="row">
          <div class="text-center col-xs-12">
            <br /><p>Rhyming-dictionary functionality is generously provided by the <a href="http://rhymebrain.com" target="_blank"><b>RhymeBrain.com</b></a> API.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>